<footer>
    <div class="footer-content upper-footer-content">
      <div>
        <div>
          <h4>Let's stay in touch!</h4>
          <p>Une Question? Contactez-nous</p>
          <button class="keela-popup-button nl-btn" style=""
            data-src="https://signup-can.keela.co/embed/QyzMmo8maLdEmAnS4" data-embed-id="popup_12"><i
              class="fa-light fa-chevron-right" aria-hidden="true"></i></button>
        </div>

        <div>
          <h4>Au sujet de nous</h4>
          <h5>Qui sommes nous?</h5>
          <div class="footer-sm-container">
            <a href="https://www.facebook.com/WomanAbuse/" aria-label="Link to Facebook" target="_blank">
              <i class="fab fa-facebook-f" aria-hidden="true"></i></a><a href="https://twitter.com/WomanACT"
              aria-label="Link to Twitter" target="_blank">
              <i class="fab fa-twitter" aria-hidden="true"></i></a><a href="https://www.linkedin.com/company/womanact/"
              aria-label="Link to Linked In" target="_blank">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i></a><a
              href="https://www.youtube.com/channel/UC7admpO05KIuE0FZzKjHR6g" aria-label="Link to Youtube"
              target="_blank">
              <i class="fab fa-youtube" aria-hidden="true"></i></a><a href="https://www.instagram.com/womanact/"
              aria-label="Link to Instagram" target="_blank">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content middle-footer-content">
      <div>
        <div>
          <p><b>Besoin d'aide</b></p>
          <p>Comment ça marche?</p>
          <p>Achat</p>
          <p>Livraison</p>
          <p>Paiement sécurisé</p>
        </div>
        <div>
          <p>Pourquoi acheter et vendre de la seconde main? </p>
          <p>politique de confidentialité</p>
        </div>
      </div>
    </div>
    <div class="footer-content bottom-footer-content">
      <div>
        <p>© 2025 LULABY. All rights reserved.</p>
      </div>
    </div>
  </footer>
