{% load static %}
<nav id="navbar" class="">
    <div class="upper-nav-wrapper">
      <div class="logo-et-search">
        <div class="le-logo">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="Logo, Return to home" class="nav-logo"></a>
        </div>
        <div class="search-trigger">
          <input type="text" class="search-container" placeholder="Rechercher...">
          <i class="fas fa-search ml-moins30"></i>
        </div>
      </div>
      <div class="upper-nav-content top-menu-right-part">
        <div class="menu-upper-menu-container">
          <ul id="menu-upper-menu" class="">
            <li class="main-dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
              <div class="sub-menu-trigger"></div>
              <span class="nav-link me-connecter-container">
                <i class="material-icons">account_circle</i>
                {% if user.is_authenticated %}
                <span class="me-connecter-text">Bonjour, {{ user.username }}</span>
            {% else %}
                <span class="me-connecter-text">ME CONNECTER</span>
            {% endif %}              
        </span>
              <ul class="submenu">
                {% if user.is_authenticated %}
                <li><a href="#">Je vends mes articles</a></li>
                <li><a href="#">Mes favoris</a></li>
                <li><a href="#">Cagnotte</a></li>
                <li><a href="#">Historique des commandes</a></li>
                <li><a href="{% url 'profile' %}">Mon profil</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Se connecter</a></li>
                <li><a href="{% url 'register' %}">Créer un compte</a></li>
            {% endif %}              
        </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile-trigger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="lower-nav-wrapper">
      <div class="mobile-cta">
        <div class="close-trigger mobile-close-trigger"></div>
      </div>
      <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="main-nav">
          {% for cat in category_tree %}
            <li class="main-dropdown menu-item menu-item-has-children">
              <a href="{% url 'products_by_category' cat.id %}">{{ cat.name }}</a>
        
              {% if cat.children %}
                <ul class="submenu">
                  {% for subcat in cat.children %}
                    <li>
                      <a href="{% url 'products_by_category' subcat.id %}">{{ subcat.name }}</a>
        
                      {% if subcat.children %}
                        <ul class="submenu-right">
                          {% for leaf in subcat.children %}
                            <li>
                              <a href="{% url 'products_by_category' leaf.id %}">{{ leaf.name }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
        
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
            <li class="main-dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children" 
            style="background-color:#F7941D; color: rgb(240, 251, 255);">
              <div class="sub-menu-trigger"></div>
              <a class="container-doudou" href="https://">RECHERCHE DOUDOU</a>
            </li>
        </ul>      
      </div>
      <div class="mobile-secondary-nav">
        <div class="menu-upper-menu-container">
          <ul id="menu-upper-menu-1" class="">
            <li class="main-dropdown menu-item menu-item-type-post_type menu-item-object-page">
              <a class="" href="https://">C</a>
            </li>
            <li class="main-dropdown menu-item menu-item-type-post_type menu-item-object-page">
              <a class="" href="https://">C</a>
            </li>
            <li class="main-dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
              <div class="sub-menu-trigger"></div>
              <span class="nav-link">connect</span>
              <ul class="submenu">
                <li>
                  <a href="https://">a</a>
                </li>
                <li>
                  <a href="https://">b</a>
                </li>
                <li>
                  <a href="https://">c</a>
                </li>
                <li><a href="https://">d</a></li>
              </ul>
            </li>
            <li class="main-dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
              <div class="sub-menu-trigger"></div>
              <a class="" href="https://">G</a>
              <ul class="submenu">
                <li>
                  <a href="https://">D</a>
                </li>
                <li>
                  <a href="https:///">B</a>
                </li>
                <li>
                  <a href="https:///">T</a>
                </li>
                <li>
                  <a href="https://">V</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
